<div class="jumbotron">
  <div class="container">
    <h1>Your campus tree bulletin board at your fingertip.</h1>
    <h2>Advertise, canvas, share, look for just about anything...</h2>
    <div class="banner">
    </div>
    <p><%= link_to "Learn more", pages_about_path, class: "btn btn-primary btn-lg", role: "button" %></p>
  </div>
</div>
<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
     <div class="col-md-3">

      <div class="thumbnail">
        <%= link_to " #{image_tag listing.image.url } ".html_safe, listing, class: "btn btn-link"%>
        <div class="caption">
          <h3><%= listing.name %><br></h3>
          <p> <%= number_to_currency(listing.price )%><br></p>
          <p><%= "Sold by #{listing.user.name }" %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>



<%= link_to 'New Listing', new_listing_path ,class: "btn btn-link"%>
